.header-container {
    height: 60px;
    backdrop-filter: blur(1.3px);
    backdrop-filter: blur(1.3px);
    -webkit-backdrop-filter: blur(1.3px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    background-image: linear-gradient(155deg, rgba(255, 255, 255, 0.41), rgba(255, 255, 255, 0));
}

.header-container h3 {
    background: transparent;
    margin-left: 20px;
    display: flex;
    flex: 1 1 0%;
    align-items: center;
    font-size: 24px;
    letter-spacing: -0.5px;
}

.todo-container {
    height: 75%;
    width: 90%;
    max-width: 500px;
    backdrop-filter: blur(1.3px);
    backdrop-filter: blur(1.3px);
    -webkit-backdrop-filter: blur(1.3px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    background-image: linear-gradient(155deg, rgba(255, 255, 255, 0.41), rgba(255, 255, 255, 0));
    border-radius: 20px;
    border-top: 1.1px solid rgba(255, 255, 255, 0.56);
    border-left: 1.1px solid rgba(255, 255, 255, 0.56);
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 60px;
}

.input-container {
    background: transparent;
    display: flex;
    justify-content: space-between;
    height: 85px;
}

.input-container input {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    height: 40px;
    width: 65%;
    margin-top: 20px;
    margin-left: 20px;
    outline: none;
    border-radius: 20px;
    padding-left: 20px;
    box-shadow: 0 8px 15px 0 rgba(31, 38, 135, 0.37);
    border-top: 1.1px solid rgba(255, 255, 255, 0.56);
    border-left: 1.1px solid rgba(255, 255, 255, 0.56);
}


.input-container button {
    height: 40px;
    margin-top: 20px;
    width: 40px;
    border-radius: 50%;
    margin-right: 20px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    font-size: 28px;
    box-shadow: 0 8px 15px 0 rgba(31, 38, 135, 0.37);
    border-top: 1.1px solid rgba(255, 255, 255, 0.56);
    border-left: 1.1px solid rgba(255, 255, 255, 0.56);
}

.input-container button:active {
    animation: push 0.3s linear 1;
}

@keyframes push {
    50% {
        transform: scale(0.8);
    }
}

@keyframes pulse {
    25% {
        transform: scale(0.9);
    }

    75% {
        transform: scale(1.1);
    }
}

.todo-content {
    padding: 30px;
    background: transparent;
    overflow-y: scroll;
}

.todos {
    background: transparent;
    display: flex;
    height: fit-content;
    align-items: center;
    margin-bottom: 10px;
    width: 90%;
    padding-top: 10px;
}

.todos input {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.todos h3 {
    width: 81%;
    background: transparent;
    margin-right: 20px;
    height: fit-content;
    overflow: hidden;
    white-space: pre-line;
    line-height: 30px;
}