<div class="header-container">
    <h3>Todo App</h3>
</div>
<div class="body-container">
    <div class="todo-container">
        <div [formGroup]="todoInputForm" class="input-container">
            <input formControlName="input" type="text">
            <button (click)="addTodo()">+</button>
        </div>
        <div class="todo-content">
            <div *ngFor="let todo of todos" class="todos">
                <input type="checkbox" name="" id="">
                <h3>{{ todo }}</h3>
            </div>
        </div>
    </div>
</div>