/* You can add global styles to this file, and also import other style files */
*{
    padding: 0;
    margin: 0;
    background-image: url('https://cdn.wallpapersafari.com/70/16/L7n5w0.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}